<div class="about row">
    <div class="col-md-12">
        <h2>About me </h2><br/>
        <p>现居于深圳，深漂一族，工作于某电商公司</p>
        <p>最喜欢的语言:Java</p>
        <p>碰到问题,喜欢总结,并且以博客的新式记录下来,这是仿照读书时候做的记错本,防止自己下次犯类似的错误</p>
        <p>也希望有共同爱好的人可以一起交流</p>
        <h2>Contact</h2>
        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.url }}" rel="nofollow">{{ site.github_url }}</a></li>
        </ul>

        <h2>Note</h2>

        <p>人生就是一场修行,我们终其一生就是为了磨练灵魂,提升心智</p>
        <p>追剧：喜欢从影视剧中感悟出一些对人生有用的东西</p>
        <p>写作：从小学六年级就开始写日记,现在也还有坚持,希望可以保持一辈子</p>
        <p>阅读：上学时候喜欢泛读,工作之后,喜欢根据问题来读书</p>
        <p>锻炼：肌肉是男人最好的衣服</p>

        <h2>Donate</h2>
        <p>欢迎转载，请在文章页面明显位置给出原文连接，否则保留追究法律责任的权利</p>

        <!-- Comments -->
        <div class="comment">
            {% include comments.html %}
        </div>
    </div>
</div>
